<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>用户观看页面</title>
</head>
<body>
<div class="wrap">
  <h2 style="text-align: center;">监控界面</h2>

  <img id="receiver" style="width: 500px;height: 450px;margin: 0 auto">
</div>
<script type="text/javascript" charset="utf-8">
  //创建一个socket实例 ?user用来代表用户
  let socket = new WebSocket("ws://localhost:8080/v?user");
  //打开socket
  socket.onopen = function () {
    console.log("open success")
  }
  let image = document.getElementById('receiver');
  //接收到消息的回调方法
  socket.onmessage = function (data) {
    console.log(data)
    image.src = data.data;
  }
  //连接关闭的回调方法
  socket.onclose = function () {
    console.log("close");
  }
</script>
</body>
</html>
<style>
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
